@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>About</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core")
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive img-rounded '></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2", htmlAttributes: new { id = "onAboutPage" })</li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header>
    <h1>About The Team</h1>
</header>
<hr class='grand-line' />
<main>
    <div class='container-fluid formatted-container'>
        <article class='about-team'>
            <div class='row'>
                <h3>Faculty</h3>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded person-picture" src='~/Content/img/profp.jpg' alt="Person image"/>
                    <p class='person-card'>Prof. Jeffrey Potoff</p>
                    <p>Chemical Engineering</p>
                    <p>313-577-9255</p>
                    <p>jpotoff@eng.wayne.edu</p>
                </div>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded  person-picture" src='~/Content/img/loren.jpg' alt="Person image" />
                    <p class='person-card'>Prof. Loren Schwiebert</p>
                    <p>Computer Science</p>
                    <p>313-577-5474</p>
                    <p>loren@wayne.edu</p>
                </div>
            </div>
            <hr class='grand-line' />
            <div class='row'>
                <h3>Graduate Students</h3>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/mohammad.jpg' width='134' alt="Person image" />
                    <p class='person-card'>Mohammad Barhaghi</p>
                    <p>Chemical Engineering</p>
                    <p>fj2314</p>
                </div>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded person-picture" src='~/Content/img/younes.jpg' alt="Person image" />
                    <p class='person-card'>Younes Nejahi</p>
                    <p>Computer Science</p>
                    <p>fe1855</p>
                </div>
            </div>
            <div class="row">
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/yuanzhe.jpg' alt="Person image"/>
                    <p class='person-card'>Yuanzhe Li</p>
                    <p>Computer Science</p>
                    <p>et8023</p>
                </div>
            </div>
            <hr class='grand-line' />
            <div class='row'>
                <h3>Undergraduate Students</h3>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/blank.png' alt="Person image" />
                    <p class='person-card'>Porpaavai Kumar</p>
                    <p>Computer Science</p>
                    <p></p>
                </div>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/vernard.jpg' alt="Person image" />
                    <p class='person-card'>Vernard Wilson</p>
                    <p>Computer Science</p>
                    <p>fs7891</p>
                </div>
            </div>
            <hr class='grand-line' />
            <div class='row'>
                <h3>Alumni</h3>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/micah.jpg' alt="Person image" />
                    <p class='person-card'>Micah Bojrab </p>
                    <p>Computer Science</p>
                    <p>fj7021</p>
                </div>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/eyad.jpg' alt="Person image" />
                    <p class='person-card'>Zeyad Hailat</p>
                    <p>Computer Science</p>
                    <p>em2203</p>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/brock.jpg' alt="Person image" />
                    <p class='person-card'>Brock Jackman</p>
                    <p>Computer Science</p>
                    <p></p>
                </div>
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/jason.png' alt="Person image" />
                    <p class='person-card'>Jason Mick</p>
                    <p>Chemical Engineering</p>  
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class=' col-md-6 col-xs-12'>
                    <img class="img-responsive img-rounded   person-picture" src='~/Content/img/kamel.jpg' alt="Person image" />
                    <p class='person-card'>Kamel Rushaidat </p>
                    <p>Computer Science</p>
                    <p>ed3457</p>
                </div>
            </div>
        </article>
        <hr class='grand-line' />
        <section class='about-grants'>
            <div class='row'>
                <h3>Grants</h3>
            </div>
            <div class='row'>
                <div class='col-md-6 col-xs-12 top-card'>
                    <img class='img-responsive img-rounded  person-picture' src='~/Content/img/nsf.png' width="80" alt="Grant Logo" />
                    <a class='person-card' href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1148168'>NSF OCI-1148168</a>
                </div>
                <div class='col-md-6 col-xs-12'>
                    <img class='img-responsive img-rounded  person-picture' src='~/Content/img/wsu.jpg' width="80" alt="Grant Logo"/>
                    <p class='person-card'><a href="http://researchnews.wayne.edu/newsletter/638/category/448/article/10264">Wayne State University Research Enhancement Program</a></p>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-md-6 col-xs-12 top-card'>
                    <img class='img-responsive img-rounded  person-picture' src='~/Content/img/silicon.jpg' width="80" alt="Grant Logo" />
                    <a class='person-card' href='https://www.siliconmechanics.com/i67045/research-cluster-grant-home.php'>Silicon Mechanics 3rd Annual Research Cluster Grant</a>
                </div>
                <div class='col-md-6 col-xs-12'>
                    <img class='img-responsive img-rounded  person-picture' src='~/Content/img/gpu.png' width="80" alt="Grant Logo" />
                    <a class='person-card' href='https://developer.nvidia.com/academia/centers/wayne-state-cuda-research-center'>GPU Research</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class='col-md-6 col-xs-12'>
                    <img class='img-responsive img-rounded  person-picture' src='~/Content/img/nvidia.jpg' width="80" alt="Special Thanks Logo" />
                    <p class='person-card'>Special Thanks to<a href="https://developer.nvidia.com/"> Nvidia Corporation </a>for their generous donation of some of the cards used in our research</p>
                </div>
            </div>
        </section>
        <hr class='grand-line' />
        <article class='about-funding'>
            <div class='row'>
                <h3>Contact Us</h3>
            </div>
            <div class='row'>
                <section class='contact'>
                    <p>For any Questions or concerns feel free to reach out and email us at <a class='person-card' href="mailto:gomc@eng.wayne.edu?subject=feedback">gomc@eng.wayne.edu</a></p>
                    <p>For specific contact please refer to the faculty info: <a href="#">above</a></p>
                    <p>As an alternative please view our tutorials playlist on youtube: <a href=""> here</a></p>
                    <p>Keep up with us on github: <a href="https://github.com/GOMC-WSU/GOMC"> here</a></p>
                    <p>In case of a problem, this is our gitter link: <a href="https://gitter.im/GOMC_WSU"> here</a></p>
                </section>
            </div>
        </article>
    </div>
</main>