@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <!--
        Login Page will contain login form for admins.
        WARNING: IF YOU ARE HERE AND NOT AN ADMIN YOU SHOULDN'T
    -->

    <title>Admin</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>Admininstator page</h1>
</header>
<main>
    <p class='center-p'>If you have reached this page in error, click the navigation buttons to return to the main site</p>
    <p class='center-p'>Otherwise please login with your credintials</p>
    <hr class='grand-line' />
    <div class='well well-lg container'>
        <form method="post" action=''> <!--Need endpoint? Pull Moe's branch-->
            <div class='form-group'>
                <label for='userName'>Login</label>
                <input class='form-control' type='text' name='uName' id='userName' placeholder="Login" />
            </div>
            <div class='form-group'>
                <label for='passCode'>Password</label>
                <input class='form-control' type='password' name='pCode' id='passCode' placeholder="Password" />
            </div>
            <button class='btn btn-success' type='submit'>Login</button>
        </form>
    </div>
</main>
  

