@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>Documentation</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core")
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2", htmlAttributes: new { id = "onDocumentationPage" })</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header>
    <h1>Documentation</h1>
</header>
<hr class='grand-line ' />
<main>
    <div class='container-fluid '>
        <section>
            <div class="row">
                <div class='col-md-12 '>
                    <span id="fromLatexConversion">This is where the text from the LaTeX conversion will render</span>
                </div>
                <div class='col-md-12 '>
                    <p>But a link will be provided here in case the user wants to see the PDF: <a href='~/Content/img/Manual.pdf' target="_blank">here</a> </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class='col-md-12 '>
                    <h2>Tutorials</h2>
                </div>
                <div class='col-md-4 '>
                    <img class='img-responsive img-circle ' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial A</p>
                </div>
                <div class='col-md-4 '>
                    <img class='img-responsive img-circle ' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial B</p>
                </div>
                <div class='col-md-4 '>
                    <img class='img-responsive img-circle ' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial C</p>
                </div>
            </div>
            <h3>For more info check us out on youtube<a href='# '> here</a></h3>
        </section>
        <hr class='grand-line ' />
        <section>
            <div class="row">
                <div class='col-md-12 '>
                    <h2>XML Generator</h2>
                    <p class='center-p '>Click the button below to fill out a form for conversion into xml</p>
                    <div class='center-p '>
                        <button class='btn btn-large btn-primary ' id='xmlTrigger'>Start</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12 hidden-until well well-lg ' id=xmlDataContainer>
                    <div class="progress">
                        <div class='progress-bar progress-bar-striped active bar-style' role='progressbar' aria-valueactive='1' aria-valuemin='0' aria-valuemax="8" id='userProgress'>
                        </div>
                    </div>
                    <form id="ConfigInput_TestInput_Form">
                        <div class='panel-group '>
                            <div class="panel panel-info panel-first">
                                <div class="panel-heading">Please select an Ensemble</div>
                                <div class="panel-body">
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_Nvt" value="Nvt">
                                            Nvt
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_Npt" value="Npt">
                                            Npt
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_Gcmc" value="Gcmc">
                                            Gcmc
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_GibbsNvt" value="GibbsNvt">
                                            GibbsNvt
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_GibbsNpt" value="GibbsNpt">
                                            GibbsNpt
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success panel-second">
                                <div class="panel-heading">Please enter the following input data</div>
                                <div class="panel-body">
                                    <label>Restart</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Restart" id="gomc_config_input_Restart_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Restart" id="gomc_config_input_Restart_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>Prng</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Prng" id="gomc_config_input_Prng_Random" value="Random">RANDOM
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Prng" id="gomc_config_input_Prng_Intseed" value="Intseed">INTSEED
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>RandomSeed</label>
                                        <input class="form-control" type="number" name="gomc_config_input_RandomSeed" id="gomc_config_input_RandomSeed">
                                    </div>
                                    <label>ParaType</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Charmm" value="Charmm">
                                            CHARMM
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Exotic" value="Exotic">
                                            EXOTIC
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Martini" value="Martini">
                                            MARTINI
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-default panel-third'>
                                <div class='panel-heading '>Please enter the input configuration data</div>
                                <div class='panel-body '>
                                    <div class="form-group">
                                        <label>ParametersFileName</label>
                                        <input class="form-control" type="text" name="gomc_config_input_ParametersFileName" id="gomc_config_input_ParametersFileName">
                                    </div>
                                    <div class="form-group">
                                        <label>Coordinates</label>
                                        <input class="form-control" type="text" name="gomc_config_input_Coordinates_1" id="gomc_config_input_Coordinates_1">
                                        <input class="form-control" type="text" name="gomc_config_input_Coordinates_2" id="gomc_config_input_Coordinates_2">
                                    </div>
                                    <div class="form-group">
                                        <label>Structures</label>
                                        <input class="form-control" type="text" name="gomc_config_input_Structures_1" id="gomc_config_input_Structures_1">
                                        <input class="form-control" type="text" name="gomc_config_input_Structures_2" id="gomc_config_input_Structures_2">
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-info panel-fourth'>
                                <div class='panel-heading '>Enter the following System Data</div>
                                <div class='panel-body '>
                                    <div class="form-group">
                                        <label>Pressure</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Pressure" id="gomc_config_input_Pressure">
                                    </div>
                                    <div class="form-group">
                                        <label>Temperature</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Temperature" id="gomc_config_input_Temperature">
                                    </div>
                                    <div class="form-group">
                                        <label>Rcut</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Rcut" id="gomc_config_input_Rcut">
                                    </div>
                                    <div class="form-group">
                                        <label>RcutLow</label>
                                        <input class="form-control" type="number" name="gomc_config_input_RcutLow" id="gomc_config_input_RcutLow">
                                    </div>
                                    <label>LRC</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Lrc" id="gomc_config_input_Lrc_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Lrc" id="gomc_config_input_Lrc_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>Exclude</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneTwo" value="OneTwo">
                                            1-2
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneThree" value="OneThree">
                                            1-3
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneFour" value="OneFour">
                                            1-4
                                        </label>
                                    </div>
                                    <label>Potential</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Vdw" value="Vdw">
                                            VDW
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Shift" value="Shift">
                                            SHIFT
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Switch" value="Switch">
                                            SWITCH
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Rswitch</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Rswitch" id="gomc_config_input_Rswitch">
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-success panel-fifth'>
                                <div class='panel-heading '>Enter metadata</div>
                                <div class='panel-body '>
                                    <label>ElectroStatic</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ElectroStatic" id="gomc_config_input_ElectroStatic_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ElectroStatic" id="gomc_config_input_ElectroStatic_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>Ewald</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ewald" id="gomc_config_input_Ewald_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_Ewald" id="gomc_config_input_Ewald_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>CachedFourier</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_CachedFourier" id="gomc_config_input_CachedFourier_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_CachedFourier" id="gomc_config_input_CachedFourier_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Tolerance</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Tolerance" id="gomc_config_input_Tolerance">
                                    </div>
                                    <div class="form-group">
                                        <label>Dielectric</label>
                                        <input class="form-control" type="number" name="gomc_config_input_Dielectric" id="gomc_config_input_Dielectric">
                                    </div>
                                    <div class="form-group">
                                        <label>PressureCalc</label>
                                        <input class="form-control" type="number" name="gomc_config_input_PressureCalc" id="gomc_config_input_PressureCalc">
                                    </div>
                                    <div class="form-group">
                                        <label>1-4scaling</label>
                                        <input class="form-control" type="number" name="gomc_config_input_OneFourScaling" id="gomc_config_input_OneFourScaling">
                                    </div>
                                    <div class="form-group">
                                        <label>RunSteps</label>
                                        <input class="form-control" type="number" name="gomc_config_input_RunSteps" id="gomc_config_input_RunSteps">
                                    </div>
                                    <div class="form-group">
                                        <label>EqSteps</label>
                                        <input class="form-control" type="number" name="gomc_config_input_EqSteps" id="gomc_config_input_EqSteps">
                                    </div>
                                    <div class="form-group">
                                        <label>AdjSteps</label>
                                        <input class="form-control" type="number" name="gomc_config_input_AdjSteps" id="gomc_config_input_AdjSteps">
                                    </div>
                                    <label>ChemPot</label>
                                    <div class="form-group">
                                        <label>ResName<input class="form-control" type="text" name="gomc_config_input_ChemPot_ResName" id="gomc_config_input_ChemPot_ResName"></label>
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_ChemPot_Value" id="gomc_config_input_ChemPot_Value"></label>
                                    </div>
                                    <label>Fugacity</label>
                                    <div class="form-group">
                                        <label>ResName<input class="form-control" type="text" name="gomc_config_input_Fugacity_ResName" id="gomc_config_input_Fugacity_ResName"></label>
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_Fugacity_Value" id="gomc_config_input_Fugacity_Value"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>DisFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_DisFreq" id="gomc_config_input_DisFreq">
                                    </div>
                                    <div class="form-group">
                                        <label>RotFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_RotFreq" id="gomc_config_input_RotFreq">
                                    </div>
                                    <div class="form-group">
                                        <label>IntraSwapFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_IntraSwapFreq" id="gomc_config_input_IntraSwapFreq">
                                    </div>
                                    <div class="form-group">
                                        <label>VolFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_VolFreq" id="gomc_config_input_VolFreq">
                                    </div>
                                    <div class="form-group">
                                        <label>SwapFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_SwapFreq" id="gomc_config_input_SwapFreq">
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-default panel-sixth'>
                                <div class='panel-heading '>Enter Metadata Configuration Data</div>
                                <div class='panel-body '>
                                    <label>UseConstantArea</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_UseConstantArea" id="gomc_config_input_UseConstantArea_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_UseConstantArea" id="gomc_config_input_UseConstantArea_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>FixVolBox0</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_FixVolBox0" id="gomc_config_input_FixVolBox0_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_FixVolBox0" id="gomc_config_input_FixVolBox0_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>BoxDim 1</label>
                                        <label>XAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_1_XAxis" id="gomc_config_input_BoxDim_1_XAxis"></label>
                                        <label>YAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_1_YAxis" id="gomc_config_input_BoxDim_1_YAxis"></label>
                                        <label>ZAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_1_ZAxis" id="gomc_config_input_BoxDim_1_ZAxis"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>BoxDim 2</label>
                                        <label>XAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_2_XAxis" id="gomc_config_input_BoxDim_2_XAxis"></label>
                                        <label>YAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_2_YAxis" id="gomc_config_input_BoxDim_2_YAxis"></label>
                                        <label>ZAxis<input class="form-control" type="number" name="gomc_config_input_BoxDim_2_ZAxis" id="gomc_config_input_BoxDim_2_ZAxis"></label>
                                    </div>
                                    <div class="form-group">
                                        <label>CBMC_First</label>
                                        <input class="form-control" type="number" name="gomc_config_input_CbmcFirst" id="gomc_config_input_CbmcFirst">
                                    </div>
                                    <div class="form-group">
                                        <label>CBMC_Nth</label>
                                        <input class="form-control" type="number" name="gomc_config_input_CbmcNth" id="gomc_config_input_CbmcNth">
                                    </div>
                                    <div class="form-group">
                                        <label>CBMC_Ang</label>
                                        <input class="form-control" type="number" name="gomc_config_input_CbmcAng" id="gomc_config_input_CbmcAng">
                                    </div>
                                    <div class="form-group">
                                        <label>CBMC_Dih</label>
                                        <input class="form-control" type="number" name="gomc_config_input_CbmcDih" id="gomc_config_input_CbmcDih">
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-info panel-seventh'>
                                <div class='panel-heading '>Please Enter Output Header Format</div>
                                <div class='panel-body '>
                                    <div class="form-group">
                                        <label>OutputName</label>
                                        <input class="form-control" type="text" name="gomc_config_input_OutputName" id="gomc_config_input_OutputName">
                                    </div>
                                    <label>CoordinatesFreq</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_CoordinatesFreq_Enabled" id="gomc_config_input_CoordinatesFreq_Enabled_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_CoordinatesFreq_Enabled" id="gomc_config_input_CoordinatesFreq_Enabled_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_CoordinatesFreq_Value" id="gomc_config_input_CoordinatesFreq_Value"></label>
                                    </div>
                                    <label>RestartFreq</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_RestartFreq_Enabled" id="gomc_config_input_RestartFreq_Enabled_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_RestartFreq_Enabled" id="gomc_config_input_RestartFreq_Enabled_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_RestartFreq_Value" id="gomc_config_input_RestartFreq_Value"></label>
                                    </div>
                                    <label>ConsoleFreq</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ConsoleFreq_Enabled" id="gomc_config_input_ConsoleFreq_Enabled_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_ConsoleFreq_Enabled" id="gomc_config_input_ConsoleFreq_Enabled_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_ConsoleFreq_Value" id="gomc_config_input_ConsoleFreq_Value"></label>
                                    </div>
                                    <label>BlockAverageFreq</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_BlockAverageFreq_Enabled" id="gomc_config_input_BlockAverageFreq_Enabled_true" value="true">True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_BlockAverageFreq_Enabled" id="gomc_config_input_BlockAverageFreq_Enabled_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_BlockAverageFreq_Value" id="gomc_config_input_BlockAverageFreq_Value"></label>
                                    </div>
                                    <label>HistogramFreq</label>
                                    <div class="radio">
                                        <label class="form-check-label"><input class="form-check-input" type="radio" name="gomc_config_input_HistogramFreq_Enabled" id="gomc_config_input_HistogramFreq_Enabled_true" value="true">True</label>
                                    </div>
                                    <div class="radio">
                                        <label class="form-check-label"><input class="form-check-input" type="radio" name="gomc_config_input_HistogramFreq_Enabled" id="gomc_config_input_HistogramFreq_Enabled_false" value="false">False</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Value<input class="form-control" type="number" name="gomc_config_input_HistogramFreq_Value" id="gomc_config_input_HistogramFreq_Value"></label>
                                    </div>
                                </div>
                            </div>
                            <div class='panel panel-success panel-eigth'>
                                <div class='panel-heading '>Please Enter the Output Body Format</div>
                                <div class='panel-body '>
                                    <div class="form-group">
                                        <label>DistName</label>
                                        <input class="form-control" type="text" name="gomc_config_input_DistName" id="gomc_config_input_DistName">
                                    </div>
                                    <div class="form-group">
                                        <label>HistName</label>
                                        <input class="form-control" type="text" name="gomc_config_input_HistName" id="gomc_config_input_HistName">
                                    </div>
                                    <div class="form-group">
                                        <label>RunNumber</label>
                                        <input class="form-control" type="number" name="gomc_config_input_RunNumber" id="gomc_config_input_RunNumber">
                                    </div>
                                    <div class="form-group">
                                        <label>RunLetter</label>
                                        <input class="form-control" type="text" name="gomc_config_input_RunLetter" id="gomc_config_input_RunLetter">
                                    </div>
                                    <div class="form-group">
                                        <label>SampleFreq</label>
                                        <input class="form-control" type="number" name="gomc_config_input_SampleFreq" id="gomc_config_input_SampleFreq">
                                    </div>
                                    <label>OutEnergy 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutEnergy_1" id="gomc_config_input_OutEnergy_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutEnergy_1" id="gomc_config_input_OutEnergy_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutEnergy 2</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutEnergy_2" id="gomc_config_input_OutEnergy_2_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutEnergy_2" id="gomc_config_input_OutEnergy_2_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutPressure 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutPressure_1" id="gomc_config_input_OutPressure_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutPressure_1" id="gomc_config_input_OutPressure_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutPressure 2</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutPressure_2" id="gomc_config_input_OutPressure_2_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutPressure_2" id="gomc_config_input_OutPressure_2_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutMolNum 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutMolNumber_1" id="gomc_config_input_OutMolNumber_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutMolNumber_1" id="gomc_config_input_OutMolNumber_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutMolNum 2</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutMolNumber_2" id="gomc_config_input_OutMolNumber_2_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutMolNumber_2" id="gomc_config_input_OutMolNumber_2_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutDensity 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutDensity_1" id="gomc_config_input_OutDensity_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutDensity_1" id="gomc_config_input_OutDensity_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutDensity 2</label>
                                    <div class="radio">
                                        <label class="form-check-label"><input class="form-check-input" type="radio" name="gomc_config_input_OutDensity_2" id="gomc_config_input_OutDensity_2_true" value="true">True</label>
                                    </div>
                                    <div class="radio">
                                        <label class="form-check-label"><input class="form-check-input" type="radio" name="gomc_config_input_OutDensity_2" id="gomc_config_input_OutDensity_2_false" value="false">False</label>
                                    </div>
                                    <label>OutVolume 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutVolume_1" id="gomc_config_input_OutVolume_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutVolume_1" id="gomc_config_input_OutVolume_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutVolume 2</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutVolume_2" id="gomc_config_input_OutVolume_2_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutVolume_2" id="gomc_config_input_OutVolume_2_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutSurfaceTension 1</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutSurfaceTension_1" id="gomc_config_input_OutSurfaceTension_1_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutSurfaceTension_1" id="gomc_config_input_OutSurfaceTension_1_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <label>OutSurfaceTension 2</label>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutSurfaceTension_2" id="gomc_config_input_OutSurfaceTension_2_true" value="true">
                                            True
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="form-check-input" type="radio" name="gomc_config_input_OutSurfaceTension_2" id="gomc_config_input_OutSurfaceTension_2_false" value="false">
                                            False
                                        </label>
                                    </div>
                                    <button id="api_ConfigInput_TestInput_Submit" class='btn btn-success btn-lg xml-submission' type="button" form="ConfigInput_TestInput_Form">Create XML</button>
                                    <div id="gomc_config_input_error"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts
{
    <script>
        var frm = $("#ConfigInput_TestInput_Form");
        var frmBtn = $("#api_ConfigInput_TestInput_Submit");
        frmBtn.click(function() {
            $.post('/api/configinput/FormPost', frm.serialize())
                .done(function(data) {
                    var newUrl = '/api/configinput/DownloadFromGuid?guid=' + data;
                    window.location.replace(newUrl);
                })
                .fail(function(jqXhR) {
                    $("#gomc_config_input_error").html(JSON.parse(jqXhR.responseText)["Message"]);
                });
        });
    </script>
}
