@model  Project.Models.DownloadsModel
 
@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>Downloads</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core")
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2", htmlAttributes: new { id = "onDownloadsPage" })</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<header>
    <h1>Downloads</h1>
</header>
<hr class='grand-line' />
<main>
    <div class="container-fluid">
        <div class="row">
                   <h2>Optional</h2>
                   <p><b>If you would like to receive emails from us when our newest software</b> is available please fill out the below form</p>
                   <p>Otherwise click the orange button below: </p>
               <div class="col-md-6">
               <button class="btn btn-warning btn-push-down" id="closeRegistration"><span class='glyphicon glyphicon-collapse-down'></span> Close Form and go straight to download</button>
               <div class="well well-sm custom-well">
                   <form method="post" id="registrationForm">
                       <div class="form-group">
                           <label>Name *</label>
                           <input type="text" class="form-control" name="userName" required pattern="[A-Za-z]+" title="Enter a valid name, no special characters" placeholder="Name"/>
                       </div>
                       <div class="form-group">
                           <label>Email *</label>
                           <input type="email"  class="form-control" name="userEmail" required  placeholder="Email"/>
                       </div>
                       <div class="form-group">
                           <label>Affliation *</label>
                           <input type="text"  class="form-control" name="userAffliation" required placeholder="Group or School"/>
                       </div>
                       <div class="form-group">
                           <label>Please take a moment to tell us why you are interested in GOMC *</label>
                           <textarea  class="form-control" rows="3" name="extraComment" required placeholder="Comments"></textarea>
                       </div>
                       <div class="g-recaptcha" data-sitekey="6LdqvTUUAAAAAGJtFI0OoT-vwmQK6meSc53CpBkT"></div> <!--Implemented for captcha-->
                       <button class="btn btn-group-lg btn-success submit" id="submitRegistration" ><span class="glyphicon glyphicon-save"></span> Register</button>
                   </form>
               </div>
                   </div>
           </div>
        <div class='row'>
            <section>
                <div class='well well-sm custom-well col-md-12'>
                    <h3>Most Recent Version: @Model.Name</h3>
                    <ul>
                        @foreach (var i in Model.Items)
                        {
                            <li class="model-link">@i.Name <a href="@i.Link">Download</a></li>
                        }
                    </ul>
                </div>
            </section>
            @*<aside>
                <div class='col-md-8'>
                    <h3>GOMC</h3>
                    <p>These are details about the release including version number, major features, setbacks, breakthroughs and or workarounds.</p>
                    <p>
                        The Monte Carlo method is a well-known method in finance, as it lets us compute difficult, if not impossible, expected values of complex stochastic functions. Mike has already discussed the method in several articles regarding
                        option pricing, but a few recap lines can be helpful for those that are new to it.
                    </p>
                    <p>The Monte Carlo method was first introduced in the field of physics, for complex simulations, very likely by Enrico Fermi in the 1930s for studying neutron diffusion. It then became popular in the 1940s among physicists and mathematicians involved in creating bombs for the U.S. Army. </p>
                    <p>
                        The projects needed a code name, so John Von Neumann chose "Monte Carlo",
                        referring to the famous Monte Carlo Casino. Since then, technology and especially computational power have increased dramatically, letting us use these methods for a large variety of problems.
                    </p>
                    <p>
                        In finance the Monte Carlo
                        method is mainly used for option pricing as, especially with exotic options, the payoff is sometimes too complex, if not impossible, to compute. The main idea behind it is quite simple: simulate the stochastic components in
                        a formula and then average the results, leading to the expected value. Of course, the more simulations (paths) you make, the more accurate the result will be.
                    </p>
                    <p>
                        A commonly accepted value for the minimum number of paths is 106106.
                        That should give good results for most of the simulations. Otherwise, there are techniques that can reduce variance in order to make even more accurate predictions. Given the random nature of this process, variance reduction
                        is not the only problem we can encounter. Another one, probably the most important, is how the random numbers are generated. There is an entire branch of mathematics talking about this and a detailed explanation is well beyond
                        the purpose of this article, but we will see that CUDA can provide different efficient methods for generating random numbers by including the useful library curand.
                    </p>
                </div>
            </aside>*@
        </div>
        <hr class='grand-line' />
        <div class='row'>
            <article>
                <div class='col-md-12'>
                    <h3>Examples</h3>
                    <ul>
                        @foreach (var i in Model.Items)
                        {
                            <li class="model-link">@i.Name <a href="@i.Link">Example</a></li>
                        }
                    </ul>
                </div>
            </article>
        </div>
        </div>
</main>
<script src='https://www.google.com/recaptcha/api.js'></script> <!--Captcha script implementation-->