@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>Features</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2", htmlAttributes: new { id = "onFeaturesPage" })</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<header>
    <h1>Features</h1>
</header>
<hr class='grand-line' />
<main class='different-main'>
    <div class='container-fluid'>
        <section>
            <div class='row'>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>Multiple Ensembles</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>Our software supports the simulation of multiple ensembles with several different structures and capabilities, please read the documentation for a full and in-depth description of what your possibilities are.</p>
				</div>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>Absorption</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We now can show the percentage of absorption given a solution.</p>              
				</div>
				<div class='col-sm-4 col-md-4 col-lg-4'>
                <h2>XML Input</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>          
			</div>
		</section>
		<hr class='grand-line' />
		<section>
		<div class='row'>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>XML Input</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>
                </div>
            </div>
        </section>
    </div>
</main>