@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>GOMC</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core")
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2", htmlAttributes: new {id="onGomcPage"})</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header class='special-jumbotron' onload="applyJumbotron">
    <div class='jumbotron'>
        <div class='carousel slide gomcHome' data-ride='carousel' id='gomcHome'>
            <!-- Identify the number of slides in the carousel, what is a good design convention for this? -->
            <ol class='carousel-indicators'>
                <!-- Can add content as needed -->
                <li data-target='#gomcHome' data-slide-to='0' class='active'></li>
                <li data-target='#gomcHome' data-slide-to='1'></li>
                <li data-target='#gomcHome' data-slide-to='2'></li>
            </ol>
            <div class='carousel-inner' role='listbox'>
                <!-- This part contains the slides -->
                <div class='item active cardA'>
                    <!-- What's in here needs to be relateable for the demo tommorow, from mockup 6 a different bg is used and no images are actually on display, we should go with that-->
                    <h1>GOMC</h1>
                    <p class="jumbo-description">GOMC is a gpu optimized monte-carlo molecular simulation engine developed for the simulation of vapor-liquid equilibria for systems containing tens of thousands of interaction sites. </p> 
                </div>
                <div class='item cardB'>
                    <h1>Downloads</h1>
                    <a class='btn btn-primary btn-lg' href='downloads.html'><span class='glyphicon glyphicon-download-alt'></span> Please find our newest releases</a>
                </div>
                <div class='item cardC'>
                    <h1>Documentation</h1>
                    <a class='btn btn-primary btn-lg' href='publication.html'><span class='glyphicon glyphicon-file'></span> Our newest documentation is here to help you get up and running</a>
                </div>
            </div>
            <!-- This part contains the controls for the carousel -->
            <a class='left carousel-control' href='#gomcHome' role='button' data-slide='prev'>
                <span class='glyphicon glyphicon-menu-left sit-down'></span>
            </a>
            <a class='right carousel-control' href="#gomcHome" role='button' data-slide='next'>
                <span class='glyphicon glyphicon-menu-right sit-down'></span>
            </a>
        </div>
    </div>
</header>
<main>
    <hr class='grand-line' />
    <div class='container-fluid'>
        <section>
            <div class="row">
                <h3>Announcements</h3>
                <ul>
                    <li>GOMC 2.1 is available</li>
                    <li>GOMC 2.0 is available</li>
                    <li>Wayne State University is now a GPU Research Center</li>
                    <li>Wayne State is a recipient of Silicon Mechanics 3rd Annual Research Cluster Grant</li>
                </ul>
            </div>
            <hr class='grand-line' />
            <div class='row'>
                <div class='col-md-4 col-xs-12'>
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Simulate</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/simulate.png' class='center-block img-rounded' alt='Simulate Image' width="250" />
                            <p>The software provides the capability to simulate live ensembles of molecules and return meaningful data that be extracted into further tests</p>
                            <p>This data can help fine tune and accelerate the design, implementation and analysis of a wide range of chemical structures</p>
                    </div>
               </div>
           </div>
                <div class='col-md-4 col-xs-12'>
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Absorb</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/absorption.jpg' class='center-block img-rounded' alt='Absorbption Image' width="250"  />
                            <p>Our software does produce the percentage of absorption in solutions</p>
                            <p>Absorption rates are a very valuable metric for handling the data corresponding to different reactions, having this would be limit the physical work needed for full implementation of a mixture or compound</p>
                        </div>
                </div>
            </div>
                <div class="col-md-4 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>XML Input</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/xml.jpg' class='center-block img-rounded' alt='XML Image' width="250" />
                            <p>We also allow for various forms of input files such as .psf .pdb and topology files</p>
                            <p>In addition to these, we now have support for XML input</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            console.log('jumbotron, your\'re up!');
            $('.jumbotron').css('background-color', '#91D3EF');
            $('.jumbotron h1').css('background-color', '#91D3EF');
            $('.carousel-control').css({
                'background-color': '#91D3EF',
                'background-image' : 'none'
            });


            $("#gomcHome").on('slid.bs.carousel', function () {
                var focusedCard = $(this).find('div .active');
                // console.log("Current card is: "+ focusedCard);
                if (focusedCard.hasClass('cardA')) {
                    $('.jumbotron').css('background-color', '#91D3EF');
                    $('.jumbotron h1').css('background-color', '#91D3EF');
                    $('.carousel-control').css('background-color', '#91D3EF');

                } else if (focusedCard.hasClass('cardB')) {
                    $('.jumbotron').css('background-color', '#9ACD32');
                    $('.jumbotron h1').css('background-color', '#9ACD32');
                    $('.carousel-control').css('background-color', '#9ACD32');

                } else if (focusedCard.hasClass('cardC')) {
                    $('.jumbotron').css('background-color', '#CFE7A7');
                    $('.jumbotron h1').css('background-color', '#CFE7A7');
                    $('.carousel-control').css('background-color', '#CFE7A7');
                }
            });
        }
    }
</script>  