@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <title>SiteMap</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>GOMC Site-Map</h1>
</header>			
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="panel col-md-6">
                <div class="panel-heading panel-gomc">
                    <h4>Gomc</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                        <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    </ul>
                </div>
            </div>
            <div class="panel col-md-6">
                <div class="panel-heading panel-features">
                    <h4>Features</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel col-md-6">
                <div class="panel-heading panel-downloads">
                    <h4>Downloads</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel col-md-6">
                <div class="panel-heading panel-documentation">
                    <h4>Documentation</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <!--Currently, dead links, need to confirm with client that these are internal pages-->
                        <li>@Html.ActionLink("Latex Converter", "DocView", "P2")</li>
                        <li>@Html.ActionLink("XML Generator", "XMLForm", "P2")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel col-md-6">
                <div class="panel-heading panel-publication">
                    <h4>Publication</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel col-md-6">
                <div class="panel-heading panel-about">
                    <h4>About</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel col-md-12">
                <div class="panel-heading panel-footer">
                    <h4>Footer</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>@Html.ActionLink("Terms & Conditions", "Terms", "P2")</li>
                        <li>@Html.ActionLink("Site Map", "SiteMap", "P2")</li>
                        <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "P2")</li>
                        <li>@Html.ActionLink("FAQ", "Faq", "P2")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

