@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}
<head>
    <!--
        Login Page will contain login form for admins.
        WARNING: IF YOU ARE HERE AND NOT AN ADMIN YOU SHOULDN'T
    -->
    <title>Admin</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "P2")</li>
                    <li>@Html.ActionLink("Features", "Features", "P2")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "P2")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "P2")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "P2")</li>
                    <li>@Html.ActionLink("About", "About", "P2")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>Official Admin View</h1>
</header>
<main class="admin-main">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading panel-default">
                <h4>Admin Controls</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-primary">Logout</button>
                    </div>
                </div>
                <div class="row">
                    <table>
                        <thead>Registered Users</thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        <tr id="userNamesAndEmails"> <!--Need JS here to load this content-->

                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Update Announcements</h5>
                        <p>To update the announcements on the main page fill out the form below: </p>
                        <form>
                            <form-group>
                                <label>New Announcement</label>
                                <textarea></textarea>
                                <button>Clear Form</button>
                                <button>Post to Announcements</button>
                            </form-group>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="well-sm custom-well">
                            <h5>Update the following dynamic content manually via webhooks</h5>
                            <button>Refresh LaTeX File</button>
                            <button>Refresh the downloads links</button>
                            <button>Refresh the examples links</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h5>Data requested from client table</h5>
                        <ul id="specialData"> <!--Need JS here to load content-->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            console.log("Admin page accessed");
            if (sessionStorage.getItem('Admin')) {
                return;
            }
            else {
                window.location.replace("admin.cshtml");
            }
        }
    }
</script>

