@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel panel-primary admin-view-panel">
        <div class="panel-heading">
            <h4>Official Admin View<button class="btn btn-sm btn-danger pull-right logout-button" id="adminLogout"><span class="glyphicon glyphicon-log-out"></span> Logout</button></h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 announcement-container">
                    <h4>Update Announcements</h4>
                    <p>To update the announcements on the main page fill out the form below: </p>
                    <form class="form-inline" id="adminAnnouncement">
                        <div class="form-group">
                            <label>New Announcement: </label>
                            <br />
                            <textarea id="adminAnnouncement_Text" type="textarea" wrap="soft" name="NewAnnouncement" required rows="3" cols="35" class="form-control"></textarea>
                        </div>
                        <button id="adminAnnouncement_Submit" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-share"></span> Post </button>
                        <button id="announcementClear" class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-trash"></span> Clear</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Preview:</h4>
                    <div class="panel">
                        <div class="panel-heading announcement-panel announcement-header">
                            <h1>Announcements</h1>
                        </div>
                        <div class="panel-body">
                            <ul id="adminAnnouncementPreview"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="grand-line" />
            <div class="row">
                <div class="col-md-6">
                    <h4>Current Announcements</h4>
                    <table class="table  table-striped table-bordered" id="fetchAnnouncements">
                        <tr>
                            <th class="col-md-4">Message</th>
                            <th class="col-md-2">Created</th>
                            <th class="col-md-2">Action</th>
                        </tr>
                        <tr id='fetchAnnouncements_tr_0'>
                            <td id='fetchAnnouncements_Message_0' style="word-break: break-all;"><div contenteditable="false"></div></td>
                            <td id='fetchAnnouncements_Created_0'></td>
                            <td id='fetchAnnouncements_Action_0'></td>
                        </tr>
                        <tr id='fetchAnnouncements_tr_1'>
                            <td id='fetchAnnouncements_Message_1' style="word-break: break-all;"><div contenteditable="false"></div></td>
                            <td id='fetchAnnouncements_Created_1'></td>
                            <td id='fetchAnnouncements_Action_1'></td>
                        </tr>
                        <tr id='fetchAnnouncements_tr_2'>
                            <td id='fetchAnnouncements_Message_2' style="word-break: break-all;"><div contenteditable="false"></div></td>
                            <td id='fetchAnnouncements_Created_2'></td>
                            <td id='fetchAnnouncements_Action_2'></td>
                        </tr>
                        <tr id='fetchAnnouncements_tr_3'>
                            <td id='fetchAnnouncements_Message_3' style="word-break: break-all;"><div contenteditable="false"></div></td>
                            <td id='fetchAnnouncements_Created_3'></td>
                            <td id='fetchAnnouncements_Action_3'></td>
                        </tr>
                        <tr id='fetchAnnouncements_tr_4'>
                            <td id='fetchAnnouncements_Message_4' style="word-break: break-all;"><div contenteditable="false"></div></td>
                            <td id='fetchAnnouncements_Created_4'></td>
                            <td id='fetchAnnouncements_Action_4'></td>
                        </tr>
                    </table>
                    <div class="btn-group">
                        <button id="fetchAnnouncements_Back" class="btn btn-sm btn-default" onclick="return doNavAnnouncements(true);"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
                        <button id="fetchAnnouncements_Next" class="btn btn-sm btn-success" onclick="return doNavAnnouncements(false);">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Website Statistics</h4>
                    <table class="table table-striped table-bordered" id="webStats">
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Downloads</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td>Clicks</td>
                            <td>950</td>
                        </tr>
                        <tr>
                            <td>Views</td>
                            <td>120</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr class="grand-line" />
            <div class="row">
                <div class="col-md-6 latex-container">
                    <h4>Upload new Latex File</h4>
                    <form class="form-vertical" id="adminLatexUpload" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label btn-sm btn-success latex-btn"> <!--Fix shitty button with better glyphico-->
                                <span class="glyphicon glyphicon-search icon-style"></span>Browse
                                <input class="form-control" type="file" name="file" id="adminLatexUpload_File" required hidden/>
                            </label>
                            <input type="text" id="fileNameContainer" readonly />
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Version Name:
                                <input class="form-control" type="text" name="version" id="adminLatexUpload_Version" required accept=".latex" />
                            </label>
                        </div>
                        <button class="btn btn-success btn-sm" id="adminLatexUpload_Submit" type="submit"><span class="glyphicon glyphicon-share"></span> Upload</button>
                    </form>
                    <br />
                    <br />
                    <h4>Server Logs</h4>
                    <a href="/api/admin/DownloadLogFile" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-download-alt"></span>   Download Log data</a>
                </div>

                <div class="col-md-6">
                    <h4>Latex Uploads</h4>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Version</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                        <tr id="LatexUpload_0"><td id="LatexUpload_Version_0" style="word-break:break-all;" /><td id="LatexUpload_Created_0" /><td id="LatexUpload_Action_0" /></tr>
                        <tr id="LatexUpload_1"><td id="LatexUpload_Version_1" style="word-break:break-all;" /><td id="LatexUpload_Created_1" /><td id="LatexUpload_Action_1" /></tr>
                        <tr id="LatexUpload_2"><td id="LatexUpload_Version_2" style="word-break:break-all;" /><td id="LatexUpload_Created_2" /><td id="LatexUpload_Action_2" /></tr>
                        <tr id="LatexUpload_3"><td id="LatexUpload_Version_3" style="word-break:break-all;" /><td id="LatexUpload_Created_3" /><td id="LatexUpload_Action_3" /></tr>
                        <tr id="LatexUpload_4"><td id="LatexUpload_Version_4" style="word-break:break-all;" /><td id="LatexUpload_Created_4" /><td id="LatexUpload_Action_4" /></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Registered Users Table</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <h4>Filter</h4>
                        <label>
                            Name:
                            <input id="registerdUseresFilter_Name" type="search" data-toggle="tooltip" title="Filter based on name (regex)"/>
                        </label>
                        <label>
                            Email:
                            <input id="registerdUseresFilter_Email" type="search" data-toggle="tooltip" title="Filter based on email (regex)"/>
                        </label>
                        <button class="btn btn-success" onclick="return doFetchRegisteredUsers()"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                    <div class="col-md-4">
                        <h4>Export</h4>
                        <button class="btn btn-success btn-sm" onclick="return exportRegisteredUsers()"><span class="glyphicon glyphicon-download-alt"></span> Download CSV</button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h4>Data</h4>
                    <table class="table table-striped table-bordered" id="userNamesAndEmails">
                        <tr>
                            <th id="registeredUser_th_0" class="info"><a onclick="return onRegisteredUserTh(0)">Name <span class="glyphicon glyphicon-menu-down"></span></a></th>
                            <th id="registeredUser_th_1"><a onclick="return onRegisteredUserTh(1)">Email <span class="glyphicon"></span></a></th>
                            <th id="registeredUser_th_2"><a onclick="return onRegisteredUserTh(2)">Comment <span class="glyphicon"></span></a></th>
                            <th id="registeredUser_th_3"><a onclick="return onRegisteredUserTh(3)">Created <span class="glyphicon"></span></a></th>
                        </tr>
                        @{for(var i = 0; i < 25; ++i)
                          {
                              <tr id="@($"registeredUser_{i}")">
                                  <td id="@($"registeredUser_Name_{i}")"></td>
                                  <td id="@($"registeredUser_Email_{i}")"></td>
                                  <td id="@($"registeredUser_Text_{i}")"></td>
                                  <td id="@($"registeredUser_Created_{i}")"></td>
                              </tr>}
                        }
                    </table>

                    <div class="btn-group">
                        <button id="registeredUsers_Back" class="btn btn-sm btn-default" onclick="return doNavRegisteredUsers(true);"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
                        <button id="registeredUsers_Next" class="btn btn-sm btn-success" onclick="return doNavRegisteredUsers(false);">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
*@section scripts
 {
     <script>
    $(document).ready(function() {
            doFetchAnnouncements();
            doFetchLatexUploads();
            doFetchRegisteredUsers();

            doFetchPreviewAnnouncements();
    })
        </script>
     
 }
