@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
}
<head>
    <!--
        WARNING: IF YOU ARE HERE AND NOT AN ADMIN YOU SHOULDN'T BE
    -->
    <title>Admin</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
                    <li>@Html.ActionLink("Features", "Features", "Home")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main class="admin-main">
    <div class="container-fluid">
        <div class="panel panel-info admin-view-panel">
            <div class="panel-heading">
                <h4>Official Admin View<button class="btn btn-sm btn-primary pull-right logout-button" id="adminLogout"><span class="glyphicon glyphicon-log-out"></span> Logout</button></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <table class="table table-striped table-bordered" id="userNamesAndEmails"> <!--Need JS here to get info from table-->
                            <thead>Registered Users</thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>A@abc.com</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>A@abc.com</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>A@abc.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h4>Update Announcements</h4>
                        <p>To update the announcements on the main page fill out the form below: </p>
                        <form class="form-inline" id="adminAnnouncement" method="get" action="http://www.tipjar.com/cgi-bin/test">
                            <form-group>
                                <label>New Announcement: </label>
                                <textarea type="textarea" wrap="soft" name="NewAnnouncement" required rows="3" cols="40" class="form-control"></textarea>
                            </form-group>
                            <form-group>
                                <button class="btn btn-danger" type="reset">Clear</button>
                                <button class="btn btn-success" type="submit">Post</button>
                            </form-group>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h5 class="center-p">Update the following dynamic content manually via webhooks</h5>
                        <div class="btn-group btn-group-sm btn-group-vertical center-block">
                            <button class="btn btn-sm btn-primary" onclick="refreshLatex()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh LaTeX File</button>
                            <button class="btn btn-sm btn-success" onclick="refreshDownloads()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh the downloads links</button>
                            <button class="btn btn-sm btn-info" onclick="refreshExamples()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh the examples links</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <table class="table table-striped table-bordered" id="webStats">
                            <thead>Website Statistics</thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>Downloads</td>
                                <td>1200</td>
                            </tr>
                            <tr>
                                <td>Clicks</td>
                                <td>950</td>
                            </tr>
                            <tr>
                                <td>Views</td>
                                <td>120</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.onload = function () {
        if (document.readyState === 'interactive') {
            console.log("Admin full page accessed");
            if (sessionStorage.getItem('Admin')) {
                
            }
            else {
                window.location.href = "/Home/Admin";
            }
        }
    }
</script>

