@model Project.Models.RegistrationModel
@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Admin";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
        <div class="panel panel-info admin-view-panel">
            <div class="panel-heading">
                <h4>Official Admin View<button class="btn btn-sm btn-primary pull-right logout-button" id="adminLogout"><span class="glyphicon glyphicon-log-out"></span> Logout</button></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered" id="fetchAnnouncements">
                            <thead>Current Announcements</thead>
                            <tr>
                                <th>Message</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                            <tr id='fetchAnnouncements_tr_0'><td id='fetchAnnouncements_Message_0'></td><td id='fetchAnnouncements_Created_0'></td><td id='fetchAnnouncements_Action_0'></td></tr>
                            <tr id='fetchAnnouncements_tr_1'><td id='fetchAnnouncements_Message_1'></td><td id='fetchAnnouncements_Created_1'></td><td id='fetchAnnouncements_Action_1'></td></tr>
                            <tr id='fetchAnnouncements_tr_2'><td id='fetchAnnouncements_Message_2'></td><td id='fetchAnnouncements_Created_2'></td><td id='fetchAnnouncements_Action_2'></td></tr>
                            <tr id='fetchAnnouncements_tr_3'><td id='fetchAnnouncements_Message_3'></td><td id='fetchAnnouncements_Created_3'></td><td id='fetchAnnouncements_Action_3'></td></tr>
                            <tr id='fetchAnnouncements_tr_4'><td id='fetchAnnouncements_Message_4'></td><td id='fetchAnnouncements_Created_4'></td><td id='fetchAnnouncements_Action_4'></td></tr>
                            <tr id='fetchAnnouncements_tr_5'><td id='fetchAnnouncements_Message_5'></td><td id='fetchAnnouncements_Created_5'></td><td id='fetchAnnouncements_Action_5'></td></tr>
                            <tr id='fetchAnnouncements_tr_6'><td id='fetchAnnouncements_Message_6'></td><td id='fetchAnnouncements_Created_6'></td><td id='fetchAnnouncements_Action_6'></td></tr>
                            <tr id='fetchAnnouncements_tr_7'><td id='fetchAnnouncements_Message_7'></td><td id='fetchAnnouncements_Created_7'></td><td id='fetchAnnouncements_Action_7'></td></tr>
                            <tr id='fetchAnnouncements_tr_8'><td id='fetchAnnouncements_Message_8'></td><td id='fetchAnnouncements_Created_8'></td><td id='fetchAnnouncements_Action_8'></td></tr>
                            <tr id='fetchAnnouncements_tr_9'><td id='fetchAnnouncements_Message_9'></td><td id='fetchAnnouncements_Created_9'></td><td id='fetchAnnouncements_Action_9'></td></tr>
                            <tr id='fetchAnnouncements_tr_10'><td id='fetchAnnouncements_Message_10'></td><td id='fetchAnnouncements_Created_10'></td><td id='fetchAnnouncements_Action_10'></td></tr>
                            <tr id='fetchAnnouncements_tr_11'><td id='fetchAnnouncements_Message_11'></td><td id='fetchAnnouncements_Created_11'></td><td id='fetchAnnouncements_Action_11'></td></tr>
                            <tr id='fetchAnnouncements_tr_12'><td id='fetchAnnouncements_Message_12'></td><td id='fetchAnnouncements_Created_12'></td><td id='fetchAnnouncements_Action_12'></td></tr>
                            <tr id='fetchAnnouncements_tr_13'><td id='fetchAnnouncements_Message_13'></td><td id='fetchAnnouncements_Created_13'></td><td id='fetchAnnouncements_Action_13'></td></tr>
                            <tr id='fetchAnnouncements_tr_14'><td id='fetchAnnouncements_Message_14'></td><td id='fetchAnnouncements_Created_14'></td><td id='fetchAnnouncements_Action_14'></td></tr>
                            <tr id='fetchAnnouncements_tr_15'><td id='fetchAnnouncements_Message_15'></td><td id='fetchAnnouncements_Created_15'></td><td id='fetchAnnouncements_Action_15'></td></tr>
                            <tr id='fetchAnnouncements_tr_16'><td id='fetchAnnouncements_Message_16'></td><td id='fetchAnnouncements_Created_16'></td><td id='fetchAnnouncements_Action_16'></td></tr>
                            <tr id='fetchAnnouncements_tr_17'><td id='fetchAnnouncements_Message_17'></td><td id='fetchAnnouncements_Created_17'></td><td id='fetchAnnouncements_Action_17'></td></tr>
                            <tr id='fetchAnnouncements_tr_18'><td id='fetchAnnouncements_Message_18'></td><td id='fetchAnnouncements_Created_18'></td><td id='fetchAnnouncements_Action_18'></td></tr>
                            <tr id='fetchAnnouncements_tr_19'><td id='fetchAnnouncements_Message_19'></td><td id='fetchAnnouncements_Created_19'></td><td id='fetchAnnouncements_Action_19'></td></tr>
                            <tr id='fetchAnnouncements_tr_20'><td id='fetchAnnouncements_Message_20'></td><td id='fetchAnnouncements_Created_20'></td><td id='fetchAnnouncements_Action_20'></td></tr>
                            <tr id='fetchAnnouncements_tr_21'><td id='fetchAnnouncements_Message_21'></td><td id='fetchAnnouncements_Created_21'></td><td id='fetchAnnouncements_Action_21'></td></tr>
                            <tr id='fetchAnnouncements_tr_22'><td id='fetchAnnouncements_Message_22'></td><td id='fetchAnnouncements_Created_22'></td><td id='fetchAnnouncements_Action_22'></td></tr>
                            <tr id='fetchAnnouncements_tr_23'><td id='fetchAnnouncements_Message_23'></td><td id='fetchAnnouncements_Created_23'></td><td id='fetchAnnouncements_Action_23'></td></tr>
                            <tr id='fetchAnnouncements_tr_24'><td id='fetchAnnouncements_Message_24'></td><td id='fetchAnnouncements_Created_24'></td><td id='fetchAnnouncements_Action_24'></td></tr>
                        </table>
                        <a href="/api/Admin/" class="col-md-1 btn disabled" id="fetchAnnouncements_Back" onclick="return doNavAnnouncements(true);">Back</a>
                        <a href="/api/Admin/" class="col-md-2 btn disabled" id="fetchAnnouncements_Next" onclick="return doNavAnnouncements(false);">Next</a>
                    </div>
                    <div class="col-md-6"> <!--Needs CS validation, error and success glyphs, loader, etc ...-->
                        <h4>Update Announcements</h4>
                        <p>To update the announcements on the main page fill out the form below: </p>
                        <form class="form-inline" id="adminAnnouncement">
                            <div class="form-group">
                                <label>New Announcement: </label>
                                <textarea id ="adminAnnouncement_Text" type="textarea" wrap="soft" name="NewAnnouncement" required rows="3" cols="35" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-danger" type="reset">Clear</button>
                                    <button id="adminAnnouncement_Submit" class="btn btn-success" type="submit">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4>Upload new Latex File</h4> <!--Needs CS validation, error and success glyphs, loader, etc ...-->
                        <form class="form-horizontal" id="adminLatexUpload">
                            <label>
                                Attach Latex File:
                                <input type="file" name="file" id="adminLatexUpload_File" />
                            </label>
                            <label>
                                Version:
                                <input type="text" name="version" id="adminLatexUpload_Version" />
                            </label>
                        </form>
                        <button class ="btn btn-success btn-sm" id="adminLatexUpload_Submit" disabled="disabled">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered" id="webStats">
                            <thead>Website Statistics</thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>Downloads</td>
                                <td>1200</td>
                            </tr>
                            <tr>
                                <td>Clicks</td>
                                <td>950</td>
                            </tr>
                            <tr>
                                <td>Views</td>
                                <td>120</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <thead>Current Announcements</thead>
                            <tr>
                                <th>Message</th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>Ahmed will bind <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="col-md-6">
                        <h4>Update the following dynamic content manually via webhooks</h4>
                        <div class="btn-group-vertical btn-group-sm">
                            <button class="btn btn-sm btn-primary" onclick="refreshLatex()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh LaTeX File</button>
                            <button class="btn btn-sm btn-success" onclick="refreshDownloads()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh the downloads links</button>
                            <button class="btn btn-sm btn-info" onclick="refreshExamples()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; &nbsp; Refresh the examples links</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Registered Users Table</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="userNamesAndEmails">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            @{
                                foreach (var registeredUser in ViewBag.Rez)
                                {
                                    <tr>
                                        <td>@registeredUser.Name</td>
                                        <td>@registeredUser.Email</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>
@section scripts
{
    <script>
        $(document).ready(function () {
            doFetchAnnouncements();
            var adminLatexUploadFile = {};

            function checkLatexUploadFormButtonDisabled() {
                if ($("#adminLatexUpload_Version").get(0).length === 0 ||
                    $("#adminLatexUpload_File").val().length === 0) {
                    console.log('disabled');
                    $("#adminLatexUpload_Submit").prop('disabled', true);
                } else {
                    console.log('enabled');
                    $("#adminLatexUpload_Submit").prop('disabled', false);
                }
            }

            $("#adminLatexUpload_File").change(function(e) {
                console.log('upload change');
                adminLatexUploadFile = this.files[0];
                checkLatexUploadFormButtonDisabled();
            });
            $("#adminLatexUpload_Version").change(function() {
                console.log('version changed');
                checkLatexUploadFormButtonDisabled();
            });
            $("#adminLatexUpload_Submit").click(function() {

                $("#adminLatexUpload_Submit").prop('disabled', true);

                var adminLatexUploadForm = new FormData();
                adminLatexUploadForm.append('file', adminLatexUploadFile);
                adminLatexUploadForm.append('version', $("#adminLatexUpload_Version").val());
                console.log(adminLatexUploadForm);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/Latex/Convert", true);
                xhr.addEventListener("load",
                    function(evt) {
                        console.log('load');
                        console.log(evt);
                        $("#adminLatexUpload_Submit").prop('disabled', false);
                    },
                    false);
                xhr.addEventListener("error",
                    function(evt) {
                        console.log('error');
                        console.log(evt);
                        $("#adminLatexUpload_Submit").prop('disabled', false);

                    },
                    false);
                xhr.send(adminLatexUploadForm);
            });
        });
    </script>
}
