@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Documentation";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home", htmlAttributes: new { id = "onDocumentationPage" })</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>  
        <section>
            <div class="row">
                <h4>We have an online version and a PDF version available below:</h4>
                <div class='col-md-12'>
                    <p>To open the online version: @Html.ActionLink("Click Here", "Latex", "Home")</p>
                </div>
                <div class='col-md-12'>
                    <p>To open the PDF: <a href='~/Content/img/Manual.pdf'> Click Here</a></p>
                </div>
            </div>
        </section>
    
        <hr class='grand-line' />
        <section>
            <div class="row">
                <div class='col-md-12 '>
                    <h2>Tutorials</h2>
                <hr class='grand-line' />
                <h6>For more info, check us out on YouTube:<a href='https://www.youtube.com'> Click Here</a></h6>                    
                <div class='col-md-4 '>
                    <img class='img-responsive img-rounded ' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial A</p>
                </div>
                <div class='col-md-4 '>
                    <img class='img-responsive img-rounded' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial B</p>
                </div>
                <div class='col-md-4 '>
                    <img class='img-responsive img-rounded' src='~/Content/img/placeholder.jpg' />
                    <p class='center-p '>Tutorial C</p>
                </div>
            </div> 
              </div>
        </section>
        <hr class='grand-line ' />
        <section>
            <div class="row">
                <div class='col-md-12 '>
                    <h2>XML Generator</h2>                   
                    <h6>To fill out the form for conversion into XML:
                        @Html.ActionLink("Click Here", "XMLConfigForm", "Home")</h6>
                </div>
            </div>
       </section>
</main>

