@model Project.Controllers.HomeController.DownloadModelV2
@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Downloads";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home", htmlAttributes: new { id = "onDownloadsPage" })</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
            <div class="row">
                <div class="col-md-8">
                    <section class='contact'>
                        <h6>Keep up with us on GitHub:<a href="https://github.com/GOMC-WSU/GOMC"> Click Here</a></h6>
                        <a class="github-button" aria-label="Star WSU-Capstone-2017/GOMC-Website on GitHub" href="https://github.com/WSU-Capstone-2017/GOMC-Website" data-size="large" data-icon="octicon-star">Star</a>
                        <a class="github-button" aria-label="Fork WSU-Capstone-2017/GOMC-Website on GitHub" href="https://github.com/WSU-Capstone-2017/GOMC-Website/fork" data-size="large" data-icon="octicon-repo-forked">Fork</a>
                    </section>
                    <section>
                        <p>You can simply compile our source code from github.</p>
                        <pre class="command-line">
                            <span class="command">$ git clone https://github.com/GOMC-WSU/GOMC.git</span>
                            <span class="command">$ chmod u+x metamake.sh</span>
                            <span class="command">$ ./metamake.sh</span>
                        </pre>
                    </section>
                    <div class='well well-sm custom-well'>
                        <h3>Most Recent Linux Version: @Model.TagName</h3>
                        <ul class="download-list">
                            @foreach (var a in Model.Linux.GPU)
                            {
                                <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                            }
                        </ul>
                        <ul class="download-list">
                            @foreach (var a in Model.Linux.CPU)
                            {
                                <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                            }
                        </ul>
                        <a>@Html.ActionLink("Click here for older versions", "MoreDownloads", "Home")</a>
                    </div>
                    <div class='well well-sm custom-well'>
                        <h3>Most Recent Windows Version: @Model.TagName</h3>
                        <ul class="download-list">
                            @foreach (var a in Model.Windows.GPU)
                            {
                                <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                            }
                        </ul>
                        <ul class="download-list">
                            @foreach (var a in Model.Windows.CPU)
                            {
                                <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                            }
                        </ul>
                        <a>@Html.ActionLink("Click here for older versions", "MoreDownloads", "Home")</a>
                    </div>
                    <div class='well well-sm custom-well'>
                        <h3>Examples set: @Model.ExamplesTagName</h3>
                        <ul class="download-list">
                            @foreach (var example in Model.Examples)
                            {
                                <li class="model-link">@example.Name <a href="@example.Link">Example</a></li>
                            }
                        </ul>
                        <a>@Html.ActionLink("Click here for older examples", "MoreExamples", "Home")</a>
                    </div>
                </div>
                    <div class="col-md-4">
                        <h3>Registration</h3>
                        <p><b>If you would like to receive emails from us when our newest software</b> is available, please fill out the form below</p>
                        @*<p>Otherwise, click the orange button below: </p>*@
                            @*<button class="btn btn-warning btn-push-down" id="closeRegistration"><span class='glyphicon glyphicon-collapse-down icon-style'></span>Close Form and proceed without registering</button>*@
                            <div class="well well-sm custom-well registration-container">
                                <form method="post" id="registrationForm">
                                    <div class="form-group has-feedback">
                                        <label class="control-label"> Name *</label>
                                        <input type="text" class="form-control" name="userName" required title="Enter a valid name, no special characters or numbers" placeholder="Name" />
                                        <span class="form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label"> Email *</label>
                                        <input type="email" class="form-control" name="userEmail" required placeholder="Email" title="Enter a valid email" />
                                        <span class="form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label"> Affliation *</label>
                                        <input type="text" class="form-control" name="userAffliation" required placeholder="Group or School" title="Enter your group or school" />
                                        <span class="form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="control-label"> Please tell us why you are interested in GOMC *</label>
                                        <textarea class="form-control" rows="3" name="extraComment" required placeholder="Comments" title="Details"></textarea>
                                        <span class="form-control-feedback"></span>
                                    </div>
                                    <div class="g-recaptcha scale-captcha"
                                         data-sitekey="6LdqvTUUAAAAAGJtFI0OoT-vwmQK6meSc53CpBkT"
                                         data-callback="captchaSelect"></div> <!--Implemented for captcha-->
                                    <button class="btn btn-group-lg btn-success submit registration-submission-btn" id="submitRegistration" disabled="true"><span class="glyphicon glyphicon-save icon-style"></span>Register</button>
                                </form>
                            </div>
                    </div>
            </div> 
</main>
@section scripts
{
<script src='https://www.google.com/recaptcha/api.js'></script> <!--Captcha script implementation-->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
}