@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
}
<head>
    <title>FAQ</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
                    <li>@Html.ActionLink("Features", "Features", "Home")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>FAQ</h1>
</header>
<header>
    <h1>Section 1</h1>
</header>
<section>
	<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section1">
									Question 1</a>
								</h2>
							</div>
						<div>
						<div id="section1" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>
	<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section2">
									Question 2</a>
								</h2>
							</div>
						<div>
						<div id="section2" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>			
<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section3">
									Question 3</a>
								</h2>
							</div>
						<div>
						<div id="section3" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>	
</div>
</section>
<header>
    <h1>Section 2</h1>
</header>
<section>
	<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section4">
									Question 4</a>
								</h2>
							</div>
						<div>
						<div id="section4" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>
	<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section5">
									Question 5</a>
								</h2>
							</div>
						<div>
						<div id="section5" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>			
<div class="container">
	<div class="row-fluid">			
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									<a data-toggle="collapse" data-parent="accordion" href="#section6">
									Question 6</a>
								</h2>
							</div>
						<div>
						<div id="section6" class="panel-collapse collapse">
							<div class="panel-body">
								<dl>
									<dd>How do I ....</dd>
									<dt>Answer:</dt>                      
								</dl>
							</div>	
						</div>
					</div>
			</div>
	</div>
</div>	
</section>								