@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
}
<head>
    <title>FAQ</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
                    <li>@Html.ActionLink("Features", "Features", "Home")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>FAQ</h1>
</header>
<main>
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section6">
                            <span class="glyphicon glyphicon-minus"></span>
                            Question 1
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="section6">
                    <div class="panel-body">
                                <dl>
                                    <dd>How do I ....</dd>
                                    <dt>Answer:</dt>
                                </dl>
                    </div>
                </div>
            </div>
            <hr class="grand-line" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section7">
                            <span class="glyphicon glyphicon-plus"></span>
                            Question 2
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="section7">
                    <div class="panel-body">
                        <dl>
                            <dd>How do I ....</dd>
                            <dt>Answer:</dt>
                        </dl>
                    </div>
                </div>
                </div>
            <hr class="grand-line" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section8">
                            <span class="glyphicon glyphicon-plus"></span>
                            Question 3
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="section8">
                    <div class="panel-body">
                        <dl>
                            <dd>How do I ....</dd>
                            <dt>Answer:</dt>
                        </dl>
                    </div>
                </div>
            </div>
            <hr class="grand-line" /><div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section9">
                <span class="glyphicon glyphicon-plus"></span>
                Question 4
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="section9">
        <div class="panel-body">
            <dl>
                <dd>How do I ....</dd>
                <dt>Answer:</dt>
            </dl>
        </div>
    </div>
</div>
<hr class="grand-line" />
</div>
</div>

</main>							