@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Features";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home", htmlAttributes: new { id = "onFeaturesPage" })</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main class='different-main'>
        <section>
            <div class='row'>
                <div class='col-md-5 col-md-7'>				
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="400" />
                </div>
                <div class="col-md-6 col-md-6">
                    <h3>Multiple Ensembles</h3>
                    <p>Our software supports the simulation of multiple ensembles with several different structures and capabilities, please read the documentation for aembles with several different structur full and in-depth description of what your possibilities are. </p>
				</div>
            </div>
            <hr class='grand-line' />
            <br />
            <div class='row'>
                <div class='col-md-5 col-md-7'>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="400" />
                </div>
                <div class='col-md-6 col-md-6'>
                    <h3>Absorption</h3>
                    <p>We now can show the percentage of absorption given a solution.</p>
                </div>
            </div>
            <hr class='grand-line' />
            <br />
            <div class='row'>
                <div class='col-md-5 col-md-7'>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="400" />
                </div>
                <div class='col-md-6 col-md-6'>
                    <h3>XML Input</h3>
                    <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>
                </div>
            </div>
		</section>
		<hr class='grand-line' />
        <br />
		<section>
		<div class='row'>
          <div class='col-md-5 col-md-7'>                
                <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="400" />
          </div>
            <div class='col-md-6 col-md-6'>
                <h3>XML Input</h3>
                <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>
            </div>
        </div>
        </section>
</main>