@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Features";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home", htmlAttributes: new { id = "onFeaturesPage" })</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main class='different-main'>
        <section>
            <div class='row'>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>Multiple Ensembles</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>Our software supports the simulation of multiple ensembles with several different structures and capabilities, please read the documentation for a full and in-depth description of what your possibilities are.</p>
				</div>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>Absorption</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We now can show the percentage of absorption given a solution.</p>              
				</div>
				<div class='col-sm-4 col-md-4 col-lg-4'>
                <h2>XML Input</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>          
			</div>
                </div>
		</section>
		<hr class='grand-line' />
		<section>
		<div class='row'>
                <div class='col-sm-4 col-md-4 col-lg-4'>
				<h2>XML Input</h2>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive img-rounded' alt='placeholder text' width="500" />
                    <p>We offer support for xml input configuration. If you don't have one we can generate it for you on our downloads page</p>
                </div>
            </div>
        </section>
</main>