@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC";
}
@section NavSection {
<li>@Html.ActionLink("GOMC", "Gomc", "Home", htmlAttributes: new { id = "onGomcPage" })</li>
<li>@Html.ActionLink("Features", "Features", "Home")</li>
<li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
<li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
<li>@Html.ActionLink("Publications", "Publications", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
}
<header class='special-jumbotron' onload="applyJumbotron">
    <div class='jumbotron'>
        <div class='carousel slide gomcHome' data-ride='carousel' id='gomcHome'>
            <ol class='carousel-indicators'>
                <li data-target='#gomcHome' data-slide-to='0' class='active'></li>
                <li data-target='#gomcHome' data-slide-to='1'></li>
                <li data-target='#gomcHome' data-slide-to='2'></li>
            </ol>
            <div class='carousel-inner' role='listbox'>
                <div class='item active cardA'>
                    <h1>GOMC</h1>
                    <p class="jumbo-description">GOMC is a gpu optimized monte-carlo molecular simulation engine developed for the simulation of vapor-liquid equilibria for systems containing tens of thousands of interaction sites. </p> 
                </div>
                <div class='item cardB'>
                    <h1>Downloads</h1>
                    <a class='btn btn-primary btn-lg' href='downloads.html'><span class='glyphicon glyphicon-download-alt'></span> Please find our newest releases</a>
                </div>
                <div class='item cardC'>
                    <h1>Documentation</h1>
                    <a class='btn btn-primary btn-lg' href='publication.html'><span class='glyphicon glyphicon-file'></span> Our newest documentation is here to help you get up and running</a>
                </div>
            </div>
            <a class='left carousel-control' href='#gomcHome' role='button' data-slide='prev'>
                <span class='glyphicon glyphicon-menu-left sit-down'></span>
            </a>
            <a class='right carousel-control' href="#gomcHome" role='button' data-slide='next'>
                <span class='glyphicon glyphicon-menu-right sit-down'></span>
            </a>
        </div>
    </div>
</header>
<main>
    <hr class='grand-line' />
    <div class='container-fluid'>
        <section>
            <div class="row">
                <h3>Announcements</h3>
                <ul id="announcementsList"></ul> <!--Razor or JS?-->
            </div>
            <hr class='grand-line' />
            <div class='row'>
                <div class='col-md-4 col-xs-12'>
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Simulate</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/simulate.png' class='center-block img-rounded' alt='Simulate Image' width="250" />
                            <p>The software provides the capability to simulate live ensembles of molecules and return meaningful data that be extracted into further tests</p>
                            <p>This data can help fine tune and accelerate the design, implementation and analysis of a wide range of chemical structures</p>
                    </div>
               </div>
           </div>
                <div class='col-md-4 col-xs-12'>
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>Absorb</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/absorption.jpg' class='center-block img-rounded' alt='Absorbption Image' width="250"  />
                            <p>Our software does produce the percentage of absorption in solutions</p>
                            <p>Absorption rates are a very valuable metric for handling the data corresponding to different reactions, having this would be limit the physical work needed for full implementation of a mixture or compound</p>
                        </div>
                </div>
            </div>
                <div class="col-md-4 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h2>XML Input</h2>
                        </div>
                        <div class="panel-body">
                            <img src='~/Content/img/xml.jpg' class='center-block img-rounded' alt='XML Image' width="250" />
                            <p>We also allow for various forms of input files such as .psf .pdb and topology files</p>
                            <p>In addition to these, we now have support for XML input</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
@section scripts{
<script>
        document.onreadystatechange = function () {
            if (document.readyState === 'interactive') {
                console.log('jumbotron, your\'re up!');
                $('.jumbotron').css('background-color', '#91D3EF');
                $('.jumbotron h1').css('background-color', '#91D3EF');
                $('.carousel-control').css({
                    'background-color': '#91D3EF',
                    'background-image': 'none'
                });


                $("#gomcHome").on('slid.bs.carousel', function () {
                    var focusedCard = $(this).find('div .active');
                    if (focusedCard.hasClass('cardA')) {
                        $('.jumbotron').css('background-color', '#91D3EF');
                        $('.jumbotron h1').css('background-color', '#91D3EF');
                        $('.carousel-control').css('background-color', '#91D3EF');

                    } else if (focusedCard.hasClass('cardB')) {
                        $('.jumbotron').css('background-color', '#9ACD32');
                        $('.jumbotron h1').css('background-color', '#9ACD32');
                        $('.carousel-control').css('background-color', '#9ACD32');

                    } else if (focusedCard.hasClass('cardC')) {
                        $('.jumbotron').css('background-color', '#CFE7A7');
                        $('.jumbotron h1').css('background-color', '#CFE7A7');
                        $('.carousel-control').css('background-color', '#CFE7A7');
                    }
                });
            }
        }
</script>  
}