@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Latex";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home", htmlAttributes: new { id = "onDocumentationPage" })</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<div class="row">
    <div class="col-md-2">
        <div id="site-content">
            <nav id="site-nav">
                <ul class="navspy-menu">
                    <li class="menu-item" data-spy-on="#x1-20001">
                        <div class="section-link">
                            <a class="nav-link active" href="#x1-20001">1. Tutorial Overview</a>
                        </div>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-30002">
                        <div class="section-link">
                            <a href="#x1-30002">2. Introduction</a>
                        </div>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-40003">
                        <div class="section-link">
                            <a href="#x1-40003">3. How to get the software</a>
                        </div>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-50004">
                        <div class="section-link">
                            <a href="#x1-50004">4. Platform and Software Requirements<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item" data-spy-on="#x1-60004.1">
                                <div class="section-link">
                                    <a href="#x1-60004.1">4.1 Supported Operating Systems</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-70004.2">
                                <div class="section-link">
                                    <a href="#x1-70004.2">4.2 Required Software Requisites</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-80005">
                        <div class="section-link">
                            <a href="#x1-80005">5. Highly Recommended Software Tools</a>
                        </div>
                        <ul style="display: none;">
                            <li class="menu-item" data-spy-on="#x1-90005.1">
                                <div class="section-link">
                                    <a href="#x1-90005.1">5.1 VMD</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-100005.2">
                                <div class="section-link">
                                    <a href="#x1-100005.2">5.2 Packmol</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-110006">
                        <div class="section-link">
                            <a href="#x1-110006">6. Compiling GOMC<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item" data-spy-on="#x1-120006.1">
                                <div class="section-link">
                                    <a href="#x1-120006.1">6.1 Extracting the code</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-130006.2">6.2 Compiling the code<span class="caret"></span></a>
                                </div>
                                <ul style="display: block;">
                                    <li class="menu-item">
                                        <div class="section-link" data-spy-on="#x1-140006.2.1">
                                            <a href="#x1-140006.2.1">6.2.1 GPU Code</a>
                                        </div>
                                    </li>
                                    <li class="menu-item" data-spy-on="#x1-150006.2.2">
                                        <div class="section-link">
                                            <a href="#x1-150006.2.2">6.2.2 CPU Code</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item" data-spy-on="#x1-160007">
                        <div class="section-link">
                            <a href="#x1-160007">7. Input File Formats<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item" data-spy-on="#x1-170007.1">
                                <div class="section-link">
                                    <a href="#x1-170007.1">7.1 PDB File</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-180007.2">
                                <div class="section-link">
                                    <a href="#x1-180007.2">7.2 PSF File</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-190007.3">
                                <div class="section-link">
                                    <a href="#x1-190007.3">7.3 Topology File</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-200007.4">
                                <div class="section-link">
                                    <a href="#x1-200007.4">7.4 Parameter File(s):<span class="caret"></span></a>
                                </div>
                                <ul style="display: block;">
                                    <li class="menu-item" data-spy-on="#x1-210007.4.1">
                                        <div class="section-link">
                                            <a href="#x1-210007.4.1">7.4.1 BONDS</a>
                                        </div>
                                    </li>
                                    <li class="menu-item" data-spy-on="#x1-220007.4.2">
                                        <div class="section-link">
                                            <a href="#x1-220007.4.2">7.4.2 ANGLES</a>
                                        </div>
                                    </li>
                                    <li class="menu-item" data-spy-on="#x1-230007.4.3">
                                        <div class="section-link">
                                            <a href="#x1-230007.4.3">7.4.3 IMPROPERS</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-240007.5">
                                <div class="section-link">
                                    <a href="#x1-240007.5">7.5 Exotic parameter</a>
                                </div>
                            </li>
                            <li class="menu-item" data-spy-on="#x1-250007.6">
                                <div class="section-link">
                                    <a href="#x1-250007.6">7.6 Control File (*.conf)<span class="caret"></span></a>
                                </div>
                                <ul style="display: block;">
                                    <li class="menu-item" data-spy-on="#x1-260007.6.1">
                                        <div class="section-link">
                                            <a href="#x1-260007.6.1">7.6.1 Input/Simulation Setup</a>
                                        </div>
                                    </li>
                                    <li class="menu-item" data-spy-on="#x1-270007.6.2">
                                        <div class="section-link">
                                            <a href="#x1-270007.6.2">7.6.2 System Settings for During Run Setup</a>
                                        </div>
                                    </li>
                                    <li class="menu-item" data-spy-on="#x1-280007.6.3">
                                        <div class="section-link">
                                            <a href="#x1-280007.6.3">7.6.3 Output Controls</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="section-link">
                            <a href="#x1-290008">8. GOMC's Output Files, Terminal Output<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-300008.1">8.1 Console Output</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-310008.2">8.2 Block Output Files</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-320008.3">8.3 Visualizing Simulation</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="section-link">
                            <a href="#x1-330009">9. Putting it all together: Running a GOMC Simulation</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="section-link">
                            <a href="#x1-3400010">10. Intermolecular Energy and Viral function (Van der Waals)<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-3500010.1">10.1 VDW</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-3600010.2">10.2 SHIFT</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-3700010.3">10.3 SWITCH</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-3800010.4">10.4 SWITCH (MARTINI)</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="section-link">
                            <a href="#x1-3900011">11. Intermolecular Energy and Virial function (Electrostatic)<span class="caret"></span></a>
                        </div>
                        <ul style="display: block;">
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-4000011.1">11.1 Ewald</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-4100011.2">11.2 SHIFT</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-4200011.3">11.3 SWITCH</a>
                                </div>
                            </li>
                            <li class="menu-item">
                                <div class="section-link">
                                    <a href="#x1-4300011.4">11.4 SWITCH (MARTINI)</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="section-link">
                            <a href="#x1-4400012">12. Get Help or Technical Support</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-10">
        <div id="contents-container">
            @Html.Raw(ViewBag.HtmlContent);
        </div>
    </div>
</div>