@model Project.Controllers.HomeController.DownloadModelV2[]
@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Ex-Downloads";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home", htmlAttributes: new { id = "onDownloadsPage" })</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel panel-primary">
        <div class="panel-heading col-md-12">
            Older Downloads
        </div>
        @foreach (var i in listMoreDownloads)
        {
            <div class='well well-sm col-md-4'>
                <h3>Windows Version: @Model.TagName</h3>
                <ul>
               @foreach (var b in Model.Windows.GPU)
                {
                        <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                }
                </ul>
                <ul>
               @foreach (var b in Model.Windows.CPU)
                {
                        <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                }
                </ul>
                <a>@Html.ActionLink("Click here for most recent versions", "Downloads", "Home")</a>
            </div>

            <div class='well well-sm col-md-4'>
                <h3>Linux Version: @Model.TagName</h3>
                <ul>
               @foreach (var b in Model.Linux.GPU)
                {
                        <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                }
                </ul>
                <ul>
               @foreach (var b in Model.Linux.CPU)
                {
                        <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>
                }
                </ul>
                <br />
            </div>
        }
    </div>
</main>
