@model Project.Controllers.HomeController.MoreExamplesModel[]
@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Ex-Examples";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home", htmlAttributes: new { id = "onDownloadsPage" })</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel panel-primary">
        <div class="panel-heading col-md-12">
            Older Examples
        </div>        
        @foreach (var i in Model)
        {
            <div class="well well-sm col-md-12">
                <h3>Examples set: @i.ExamplesTagName</h3>
                <ul>
                @foreach (var a in i.Examples)
                {                                      
                       <li class="model-link">@a.Name <a href="@a.Link">Download</a></li>                    
                }  
                </ul>
                <br />
            </div>
        }
    </div>
</main>
