@model Project.Models.DownloadsModel
@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Ex-Examples";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home", htmlAttributes: new { id = "onDownloadsPage" })</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Older Examples
        </div>
        <div class="panel-body">
            <div class="loader"></div>
        </div>
    </div>
</main>
