@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: Privacy";
}
 @section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="minimal-panel-page">Privacy Policy</h4>
                </div>
                <div class="panel-body">
                    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                     <br />
                        <h6>What personal information do we collect from the people that visit our website?</h6>
                        <p>When registering on our website, as appropriate, you may be asked to enter your name, email address, your affiliation, and reason you want to you use our software. However, Registration is optional and is not required to use our software. We may also collect the following information when executing our software:</p>
                        <ul>
                            <li>IP address</li>
                            <li>Type of ensemble</li>
                            <li>Number of molecules</li>
                            <li>Operating System (Windows, Linux, Mac OS, …)</li>
                            <li>Platform (CPU, GPU)</li>
                        </ul>
                    <br />
                        <h6>When do we collect information?</h6>
                        <p>We collect information from you when you register which is optional and when using our software which you have an option to opt out.</p>
                    <br />
                        <h6>How do we use your information?</h6>
                        <p>We use your registration information to send you our newsletter, and simulation information to improve our software.</p>
                    <br />
                        <h6>How do we protect your information?</h6>
                        <p>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
                        <p>We only provide articles and information. We never ask for credit card numbers.</p>
                        <p>We do not use Malware Scanning.</p>
                    <br />
                        <h6>Do we use 'cookies'?</h6>
                        <p>We do not use cookies for tracking purposes</p>
                        <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
                        <p>You can turn cookies off and all the features of our site should be the same.</p>
                    <br />
                        <h6>Third-party disclosure</h6>
                        <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
                    <br />
                        <h6>Third-party links</h6>
                        <p>We do not include or offer third-party products or services on our website.</p>
                    <br />
                        <h6>Google</h6>
                        <p>We only use Google Analytics to collect democratic information. This information will be used only to report back to our funding resources. All the information will be anonymized.</p>
                    <br />
                       <h6> Opting out:</h6>
                        <p>You can opt out of Google Analytics by installing Google Analytics Opt Out Browser add on which can be found here: <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/</a> </p>
                    <br />
                        <h6>California Online Privacy Protection Act</h6>
                         <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a> </p>
                    <br />
                        <h6>According to CalOPPA, we agree to the following:</h6>
                        <p>Users can visit our site anonymously.</p>
                        <p>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
                        <p>  Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</p>
                    
                    <p>You will be notified of any Privacy Policy changes:</p>
                    <ul>
                        <li>On our Privacy Policy Page</li>
                    </ul>
                    <p>Can change or remove your personal information:</p>
                    <ul>
                        <li>By emailing us</li>
                    </ul>
                    <br />
                       <h6> COPPA (Children Online Privacy Protection Act)</h6>
                        <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
                        <p>We do not specifically market to children under the age of 13 years old.</p>
                    <br />
                        <h6>If at any time, you would like to unsubscribe from receiving future emails, you can email us at</h6>
                        <p><a href="mailto:gomc@eng.wayne.edu?subject=Unsubscribe">gomc@eng.wayne.edu</a> and we will promptly remove you from ALL correspondence.</p>
                    <br />
                        <h6>Contacting Us</h6>
                        <p>If there are any questions regarding this privacy policy, you may contact us at <a href="mailto:gomc@eng.wayne.edu?subject=Privacy-Policy">gomc@eng.wayne.edu</a></p>
                </div>
            </div>
        </div>
</main>
