@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: SiteMap";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section1">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    GOMC
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="section1">
            <div class="panel-body">

                <h4>@Html.ActionLink("GOMC", "Gomc", "Home")</h4>
                <h4>@Html.ActionLink("Downloads", "Downloads", "Home")</h4>
                <h4>@Html.ActionLink("Documentation", "Documentation", "Home")</h4>

            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section2">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Features", "Features", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section3">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Downloads", "Downloads", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section4">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Documentation
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="section4">
            <div class="panel-body">
                <h4>@Html.ActionLink("Documentation", "Documentation", "Home")</</h4>
                <h4>@Html.ActionLink("Latex Converter", "DocView", "Home")</h4>
                <h4>@Html.ActionLink("XML Generator", "XMLForm", "Home")</h4>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section5">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Publication", "Publication", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section6">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("About", "About", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section7">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Terms & Conditions", "Terms", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section8">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Site Map", "SiteMap", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section9">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section10">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @Html.ActionLink("FAQ", "Faq", "Home")
                </a>
            </h4>
        </div>
    </div>
</main>
