@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: SiteMap";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <h4>@Html.ActionLink("GOMC", "Gomc", "Home")</h4>
        <ul>
            <li class="model-link">@Html.ActionLink("Downloads", "Downloads", "Home")</li>
            <li class="model-link">@Html.ActionLink("Documentation", "Documentation", "Home")</li>
        </ul>
    <h4>@Html.ActionLink("Features", "Features", "Home")</h4>
    <h4>@Html.ActionLink("Downloads", "Downloads", "Home")</h4>
    <h4>@Html.ActionLink("Documentation", "Documentation", "Home")</h4>
        <ul>
            <li class="model-link">@Html.ActionLink("Latex Converter", "latex", "Home")</li>
            <li class="model-link">@Html.ActionLink("XML Generator", "XMLConfigForm", "Home")</li>
        </ul>
    <h4>@Html.ActionLink("Publications", "Publications", "Home")</h4>
    <h4>@Html.ActionLink("About", "About", "Home")</h4>
    <h4>@Html.ActionLink("Terms & Conditions", "Terms", "Home")</h4>
    <h4>@Html.ActionLink("Site Map", "SiteMap", "Home")</h4>
    <h4>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</h4>
    <h4>@Html.ActionLink("FAQ", "Faq", "Home")</h4>
</main>
