@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
    ViewBag.Title = "GOMC: SiteMap";
}
@section NavSection {
    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
    <li>@Html.ActionLink("Features", "Features", "Home")</li>
    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
    <li>@Html.ActionLink("Publications", "Publications", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
}
<main>
    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("GOMC", "Gomc", "Home")</h9>
        </div>                                
                <h8 class="panel-body"><span class="glyphicon glyphicon-chevron-right"></span>@Html.ActionLink("Downloads", "Downloads", "Home")</h8>
                <h8 class="panel-body"><span class="glyphicon glyphicon-chevron-right"></span>@Html.ActionLink("Documentation", "Documentation", "Home")</h8>                
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Features", "Features", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Downloads", "Downloads", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Documentation", "Documentation", "Home")</h9>
        </div>    
            
                <h8 class="panel-body"><span class="glyphicon glyphicon-chevron-right"></span>@Html.ActionLink("Latex Converter", "latex", "Home")</h8>
                <h8 class="panel-body"><span class="glyphicon glyphicon-chevron-right"></span>@Html.ActionLink("XML Generator", "XMLConfigForm", "Home")</h8>           
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Publications", "Publications", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("About", "About", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Terms & Conditions", "Terms", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Site Map", "SiteMap", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</h9>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h9>@Html.ActionLink("FAQ", "Faq", "Home")</h9>
        </div>
    </div>
</main>
