@{
    Layout = "~/Views/Home/_Home_Layout.cshtml";
}
<head>
    <title>SiteMap</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/core.less")
    <link rel="icon" href="~/Content/img/gomc-ico.png" />
</head>
<nav class='navbar navbar-default navbar-fixed-top main-menu' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header' id='menu '>
            <a href='#'><img src='~/Content/img/gomc.png' alt='team logo' class='img-responsive'></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" href="#navCollapse" data-parent='#menu' id='btn'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </button>
            <div class='collapse navbar-collapse' id='navCollapse'>
                <ul class='nav nav-tabs nav-justified nav '>
                    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
                    <li>@Html.ActionLink("Features", "Features", "Home")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                    <li>@Html.ActionLink("Publication", "Publication", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <h1>GOMC Site-Map</h1>
</header>
<main>
<p>**When hovered upon an option, if option turns light grey, it indicates more options are available when clicked** </p>
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section1">
                    <span class="glyphicon glyphicon-plus"></span>
                    GOMC
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="section1">
            <div class="panel-body">
                <ul>
                    <li>@Html.ActionLink("GOMC", "Gomc", "Home")</li>
                    <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section2">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Features", "Features", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section3">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Downloads", "Downloads", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section4">
                    <span class="glyphicon glyphicon-plus"></span>
                    Documentation
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="section4">
            <div class="panel-body">
                <ul>
                    <li>@Html.ActionLink("Documentation", "Documentation", "Home")</</li>
                    <li>@Html.ActionLink("Latex Converter", "DocView", "Home")</li>
                    <li>@Html.ActionLink("XML Generator", "XMLForm", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section5">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Publication", "Publication", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section6">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("About", "About", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section7">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Terms & Conditions", "Terms", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section8">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Site Map", "SiteMap", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section9">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" href="#section10">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("FAQ", "Faq", "Home")
                </a>
            </h4>
        </div>
    </div>
</main>
